# Essentials
-e svn+http://code.djangoproject.com/svn/django/trunk@12335#egg=Django
-e git://github.com/jbalogh/django-multidb-router.git#egg=django-multidb-router
MySQL-python==1.2.3c1

# Authentication
-e git://github.com/Nitron/django-cas-provider.git#egg=cas_provider

# Caching
python-memcached==1.45
