{% extends "base.html" %}

{% block content %}
<h1>User Profile</h1>

<h2>User Info</h2>
<table>
  <tr>
    <th>Name</th>
    <td>{{ user.get_full_name }}</td>
  </tr>
  <tr>
    <th>Username</th>
    <td>{{ user.username }}</td>
  </tr>
  <tr>
    <th>Email Address</th>
    <td>{{ user.email }}</td>
  </tr>
</table>

<h2>Associated Sites</h2>
<p>
These are the sites you have authorized to log you in via single-sign-on.
To authorize additional sites, go to the sites and click on their SSO log-in
link.
</p>
{% if user.sites.all %}
  <ul>
    {% for site in user.sites.all %}
    <li>{{ site.name }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p><strong>No associated sites found.</strong></p>
{% endif %}
{% endblock %}
