<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"/>

<title>{% block title %}Welcome{% endblock %} | Mozilla SSO</title>

<link rel="shortcut icon" type="image/ico" href="{{ MEDIA_URL }}img/favicon.ico"/>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/squirrel.css" type="text/css" media="screen"/>
{% block css %}{% endblock %}
</head>
<body {% block bodyclass %}{% endblock %}>

<ul id="skip">
    <li><a href="#q">Skip to Search</a></li>
    <li><a href="#nav">Skip to Navigation</a></li>
    <li><a href="#main">Skip to Content</a></li>
</ul>

<div id="header">
  <h1><a href="{% url home %}" title="Back to home page">Mozilla Single Sign-on</a></h1>
  <h2>Mozilla Single Sign-on</h2>

<div id="nav">
  <ul>
    {% if not user.is_authenticated %}
      <li><a href="{% url cas_login %}">Log in</a></li>
      <li><a href="{% url registration_register %}">Register a new account</a></li>
    {% else %}
      <li><a href="{% url users.profile %}">My User Profile</a></li>
      <li><a href="{% url cas_logout %}">Log out</a></li>
    {% endif %}
  </ul>
  {% if user.is_staff %}
  <ul>
    <li><a href="{% url admin:index %}">Admin</a></li>
  </ul>
  {% endif %}
</div><!-- end #nav -->

</div>{# end #header #}

<div id="content" class="widecolumn" role="main">
  {% block content %}{% endblock %}
</div>

<div id="footer-wrap">
  <div id="footer" class="cols">
    <div class="three-col">
      <p id="copyright">
        Portions of this content are &copy;1998&ndash;{% now "Y" %} by
        individual mozilla.org contributors. Content available under a
        Creative Commons <a href="http://mozilla.org/foundation/licensing/website-content.html">license</a>.
      </p>
      <p id="copyright-links">
        <a href="http://mozilla.org/contact/" class="first">Contact Us</a> &middot;
        <a href="http://mozilla.org/about/policies/privacy-policy.html">Privacy Policy</a> &middot;
        <a href="http://www.mozilla.com/en-US/legal/fraud-report/index.html">Report Trademark Abuse</a>
      </p>
    </div>
  </div>{# end #footer #}
</div>{# end #footer-wrap #}

{% block js %}{% endblock %}
</body>
</html>
